<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "student" class = "com.sunglowsys.domain.Student">
        <property name = "id" value = "ss1"/>
        <property name="firstName" value="Hirdesh" />
        <property name="lastName" value="kumar"/>
        <property name="email" value="hgk@gmail.com"/>
        <property name="mobile" value="6396078496"/>
        <property name="standard" value="B.sc"/>
    </bean>

</beans>